<footer class="ba-footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<p>Connect with us</p>
				<p>Social media channels</p>
			</div>
			<div class="col-sm-3">
				<p>Newsletter sign up</p>
				<p>Sign up for a special offers</p>
			</div>
			<div class="col-sm-3">
				<ul>
					<li><a href="#">Informations légales</a></li>
					<li><a href="#">Links</a></li>
					<li><a href="#">Terms & Conditions</a></li>
				</ul>
			</div>
			<div class="col-sm-3">
				<p>Certificate of Excellence</p>
			</div>
		</div>
	</div>
</footer>
